* {
      margin: 0;
      padding: 0;
      font-family: 'Quicksand', sans-serif;
  }

section {
      display: flex;
      justify-content: center;
      align-items: center;
}

.container {
      width: 80%;
      height: -moz-calc(100vh - (150px + 50px));
      height: -webkit-calc(100vh - (150px + 50px));
      height: calc(100vh - (150px + 50px));
      display: flex;
      justify-content: center;
      align-items: center;
}

.google-column {
      display: flex;
      align-items: center;
  }

  .google-maps {
      height: 50vh;
      width: 50vw;
  }

  .contacts {
      width: 30vw;    
      padding: 3vh;
  }

  .contacts>div {
      margin-top: 10px;
  }

  
  @media screen and (max-width: 600px) {
      .container {
      height: -moz-calc(100vh - (100px + 26px));
      height: -webkit-calc(100vh - (100px + 26px));
      height: calc(100vh - (100px + 26px));
      display: block;
      }

      .drop-down {
            height: auto;
      }

      .drop-down-links {
            padding-bottom: 15px;
      }
      
      .google-column {
            padding-top: 15vh;
      }

      .contacts {
            width: 60vw;
            padding-top: 3vh;
        }

      .google-maps {
            height: 40vh;
            width: 100vw;
        }
}